import React from 'react';

import "./{{pascalCase name}}.style.scss";

const DEFAULT_CLASSNAME = '{{kebabCase name}}'

const {{pascalCase name}} = props => {
  return (
    <div className={`${DEFAULT_CLASSNAME}`}>
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};